.navbar__button {
   position: relative;
   height: 36px;
   width: 36px;
   margin-top: .75em;
   margin-left: .5em;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /*background-color: #423E37;
   */background-color: transparent;
   transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
   -moz-transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
   -ms-transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
     cursor: pointer;
}
.navbar__button:hover {
   transform: scale(1.125);
   -webkit-transform: scale(1.125);
   -moz-transform: scale(1.125);
   -ms-transform: scale(1.125);
   -o-transform: scale(1.125);
   border: 2px solid #EBC670;
   
}

.navbar__button--bar {
   height: 3px;
   width: 33px;
   color: #EDEBD7;
   background-color: #EDEBD7;
   /* margin: 5px auto;
   padding: 2px; */

}

@media (min-width: 769px) {
   .navbar__button {
      display: none;
   }
}